<%# このerbがデフォルトテンプレート %>
<%# このHTMLのBodyのyield部分にslimのHTMLが入る %>
<!DOCTYPE html>
<html>
  <%# IEは対応しない %>
  <head>
    <%# 各ページ毎にページタイトルを取得 %>
    <%# https://railstutorial.jp/chapters/rails_flavored_ruby?version=5.1#code-application_layout_full_title %>
    <title><%= browser_tab_text( yield(:title) ) %></title>
    <%# この記述いらない気が。。。 %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%# CSRF %>
    <%= csrf_meta_tags %>
    <%# コンテンツセキュリティポリシーのタグ。初期状態では使用しない。 %>
    <%= csp_meta_tag %>
    <%# スタイルシートの取得 %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

    <%# ヘッダー %>
    <header class='header'>
      <%= render "common/header" %>
    </header>

    <%# メインの出力 %>
    <main>
      <div class='container'>
        <% flash.each do |key, message| %>
          <div><%= key %><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
    </main>

    <%# フッター %>
    <footer class='footer'>
      <%= render "common/footer" %>
    </footer>

    <p>application.erb パラメータ</p>
    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
